/* input/dropdown */
.input-dropdown {
  box-sizing: border-box;

  position: relative;
  width: 596px;
  height: 92px;

  /* Fueled White */
  background: #f5f5f1;
  border: 1px dashed #7b61ff;
  border-radius: 5px;

  margin: 10px;
}

/* label=false */
.label-false {
  position: absolute;
  width: 271px;
  height: 40px;
  left: 16px;
  top: 36px;
}

/* frame */
.frame {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 10px;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  /* White */
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* content */
.content {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  margin: 0 auto;
  width: 66px;
  height: 18px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* icon */
.icon {
  display: none;
  width: 16px;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Vector */
.icon::before {
  position: absolute;
  left: 50%;
  right: 0%;
  top: 14.65%;
  bottom: 35.35%;

  /* Black */
  border: 2px solid #000000;
  transform: rotate(45deg);
}

/* Vector */
.icon::after {
  position: absolute;
  left: 50%;
  right: 0%;
  top: 14.65%;
  bottom: 35.35%;

  /* Black */
  border: 2px solid #000000;
  transform: rotate(45deg);
}

/* text */
.text {
  width: 66px;
  height: 18px;

  font-family: "GT Cinetype";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  /* identical to box height, or 18px */

  /* Fueled Dark Grey */
  color: #161616;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* icon-chevron-left */
.icon-chevron-left {
  margin: 0 auto;
  width: 16px;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Combined Shape */
.combined_shape {
  position: absolute;
  left: 9.09%;
  right: 10.68%;
  top: 27.27%;
  bottom: 24.08%;

  /* Fueled Red */
  background: #ae0000;
}

.color-red {
  color: #ae0000;
}

/* label=true */
.label-true {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 271px;
  height: 60px;
  left: 309px;
  top: 16px;
}

/* Label */
label {
  width: 31px;
  height: 12px;

  font-family: "GT Cinetype";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */
  display: flex;
  align-items: flex-end;

  /* Black */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.label-true-dropdown {
  position: absolute;
  width: 271px;
  height: 40px;
  /* left: 6px; */
  top: 20px;
}
