<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./input-dropdown.css" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>input-dropdown</title>
  </head>
  <body>
    <div class="input-dropdown">
      <!-- label=false -->
      <div class="label-false">
        <div class="frame">
          Dropdown
          <span class="glyphicon glyphicon-chevron-down color-red"></span>
        </div>
      </div>

      <!-- label=true -->
      <div class="label-true">
        <label for="">Label</label>
        <div class="label-true-dropdown">
          <div class="frame">
            Dropdown
            <span class="glyphicon glyphicon-chevron-down color-red"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
