<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./input-text.css" />
    <title>input/text</title>
  </head>
  <body>
    <!-- input/text -->
    <div class="input_text">
      <!-- Light, Default -->
      <div class="default">
        <label for="">Label</label>
        <input type="text" placeholder="Placeholder" />
      </div>

      <!-- Light, Active -->
      <div class="active">
        <label for="">Label</label>
        <input type="text" placeholder="Placeholder" value="Value" />
      </div>
      <!-- Light, readonly -->
      <div class="readonly">
        <label for="">Label</label>
        <input type="text" placeholder="Placeholder" value="Value" readonly />
      </div>
    </div>
  </body>
</html>
