.description {
    text-align: center;
    margin: 40px;
}
/* Form - Edit Mode */
.form-fueled {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: relative;
  width: 1152px;
  height: 700px;

  /* Fueled White */
  background: #f5f5f1;

  margin: auto;
}

/* navbar/form */
.forom-navbar {
  width: 1152px;
  height: 72px;

  /* Fueled Red */
  background: #ae0000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* content */
.content {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 712px;
  height: 417px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Questions */
.questions {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 712px;
  height: 289px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* question-short answer */
.qeustion-short-answer {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 712px;
  height: 289px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* _question_base */
.question-base {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  width: 712px;
  height: 289px;

  /* White */
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* question */
.question {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 0px 0px;
  gap: 6px;

  width: 664px;
  height: 72px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* divider */
.divider {
  width: 664px;
  height: 1px;

  margin: 0;

  /* Fueled White */
  background: #f5f5f1;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* answer */
.answer {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 664px;
  height: 136px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

/* input/dropdown */
.answer-input-dropdown {
  width: 271px;
  height: 40px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  position: relative;
}

/* frame */
.frame {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 10px;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  /* White */
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* _question/answer */
.short-answer-input {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 664px;
  height: 52px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

/* input/text */
.input-text {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  width: 664px;
  height: 52px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

/* _input_base */
.input-base-grey {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  width: 664px !important;
  height: 52px !important;

  background: rgba(0, 0, 0, 0.04) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* btns */
.form-btns {
  /* btns */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 712px;
  height: 96px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  position: relative;
}

/* + */
.add-button {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 712px;
  height: 40px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  position: absolute;

  color: #ae0000;
}

/* button */
.add-btn {
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;

  width: 712px;
  height: 40px;

  /* Fueled White */
  background: #f5f5f1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #ae0000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
/* save */
.save-button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 712px;
  height: 40px;

  /* Fueled White */
  background: #f5f5f1;
  border: 1px solid rgba(0, 0, 0, 0.1);

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* button */
.save-btn {
  position: relative;
  top: 0;
  left: 0;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;

  width: 712px;
  height: 40px;

  /* Fueled Red */
  background: #ae0000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
