/* _question_base */
._question_base {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  position: relative;
  width: 319px;
  height: 349px;

  /* White */
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

  margin: 10px;
}

/* question */
.question {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 0px 0px;
  gap: 6px;

  width: 271px;
  height: 72px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* divider */
.divider {
  width: 271px;
  height: 1px;

  /* Fueled White */
  background: #f5f5f1;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  padding: 0;
  margin: 0;
  border: none;
}

/* answer */
.answer {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 271px;
  height: 136px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.answer-input-dropdown {
  box-sizing: border-box;

  position: relative;
  width: 596px;
  height: 92px;

  /* Fueled White */
  background: #f5f5f1;
  border-radius: 5px;

  /* position: absolute; */
  width: 271px;
  height: 40px;
  /* left: 6px; */
  /* top: 0; */

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* _question/answer */
.question-answer {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 271px;
  height: 52px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

/* add option */
.add-option {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;

  width: 271px;
  height: 40px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #ae0000;
  /* Inside auto layout */
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

/* question actions */
.question-actions {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 0px 0px;
  gap: 10px;

  width: 271px;
  height: 48px;

  /* White */
  background: #ffffff;
  box-shadow: 0px -1px 0px #f5f5f1;

  /* Inside auto layout */
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

/* btns */
.btns {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 116px;
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* placeholder */
.page-numbers {
  width: 145px;
  height: 18px;

  font-family: 'GT Cinetype';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  /* identical to box height, or 18px */

  /* Black */
  color: #000000;

  opacity: 0.54;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

/* move up */
.move-up {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;

  width: 32px;
  height: 32px;

  /* transform: matrix(1, 0, 0, -1, 0, 0); */

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* move down */
.move-down {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;

  width: 32px;
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* remove */
.remove {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;

  width: 32px;
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;

  color: #ae0000;
}
