<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./button.css" />
    <title>button</title>
  </head>
  <body>
    <div class="button">
      <!-- Primary, Default, Small,Icon=off -->
      <button class="icon-off">BUTTON TEXT</button>

      <!-- Primary, Default, Small,Icon=on -->
      <button class="icon-on">
        <span class="icon">+</span>
        BUTTON TEXT
      </button>
    </div>
  </body>
</html>
