<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./navbar.css" />
    <title>navbar</title>
  </head>
  <body>
    <!-- navbar/basic -->
    <label for="">navbar/basic</label>
    <nav class="navbar-basic">
      <div class="fueled-emblem">
        <img src="./Fueled.png" alt="" />
      </div>
    </nav>

    <!-- navbar/authd -->
    <label for="">navbar/authd</label>
    <nav class="navbar-basic">
      <div class="fueled-emblem">
        <!-- <img src="./Fueled.png" alt="" /> -->
        <span class="user">tom@fueled.com</span>
        <button>LOG OUT</button>
      </div>
    </nav>

    <!-- navbar/form -->
    <label for="">navbar/form</label>
    <nav class="navbar-basic">
      <div class="fueled-emblem">
        <img src="./Fueled.png" alt="" />
        <span class="title">New Questionaire</span>
        <!-- <span>tom@fueled.com</span> -->
        <button>LOG IN</button>
      </div>
    </nav>
  </body>
</html>
